[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/CommonLibAE"]
	path = external/CommonLibAE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "AutoTOML"]
	path = AutoTOML
	url = https://github.com/Ryan-rsm-McKenzie/AutoTOML
[submodule "extern/AutoTOML"]
	path = extern/AutoTOML
	url = https://github.com/Ryan-rsm-McKenzie/AutoTOML
